.galaxiesmode {
  text-align: center;
  line-height: 30px;
  padding-top: 20px;
  margin-bottom: 15px;
}

.galaxies {
  margin: 0px 10px 0px 10px;
}

.galaxiesimg {
  border-style: solid;
  border-color: black;
  background-color: #87a9c7;
  width: 89px;
  height: 73px;
}
