.winrate {
  width: 1140px;
  height: auto;
}
.block {
  width: 1140px;
  background-color: #97b4ce;
  border: none;
  margin: 0px;
}

.gap{
  height: 10px;
}

.titleline{
  height: 20px;
  background-color: white;
  display: flex;
  padding-right: 10px;
  padding-left: 20px;
}
.titles {
  display: flex;
}
.title {
  margin: 0px;
  margin-right: 2px;
}
.ranks {
  display: flex;
  margin-left: auto;
}
.one {
  margin: 0px;
  margin-right: 40px;
}
.fours {
  display: flex;
  margin-right: 20px;
}
.four{
  margin: 0px;
}
.yajirusi {
  width: 20px;
}


.content {
  height: 60px;
  display: flex;
  margin-top: 10px
}

.traits{
  margin: auto auto auto 10px;
}
.traitsimg {
  width: 50px;
  height: 50px;
  margin-right: -12px;
}

.champions {
  width: 500px;
  margin:auto auto auto 60px;
}
.championsimg {
  width: 50px;
  height: 42px;
  margin-right: 5px;
}

.rate {
  margin: auto 30px auto 40px;
}
.onerate {
  margin: auto;
}
.fourrate {
  margin: auto;
  margin-left: 20px;
}